<table class="table table-border table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Twitter</th>
      <th>Post AT</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.description %></td>
        <td><%= link_to tweet.user.full_name, tweet.user %></td>
        <td><%= tweet.created_at %></td>
        <td>
          <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } if tweet.user == current_user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

